<div>
  <div>
    <%= @drugstore.name %>
  <div><%= t 'drugstores.address' %>:<br>
    <%= @drugstore.address %>
  </div>
  <div><%= t 'drugstores.phone' %>:<br>
    <%= @drugstore.phone %>
  </div>

</div>