<h2><%= t 'drugstores.header' %></h2>
<div class="override_container" id="map"></div>
<div class="map_relative"></div>
<div class="col-md-4 col-xs-4">
  <h3><%= 'Refine your search' %></h3>
  <%= form_tag drugstores_path, :method => :get do %>
    <%= text_field_tag :search, params[:search],:placeholder => t('drugstores.placeholder'), :style => "width:100%;"%>
    <button type="submit" class="btn btn-bobodoc" style="width:100%" >
      <%= t('drugstores.search_near') %>
    </button>
  <% end %>
  
  <h3><%= 'Help us!' %></h3>
  <p style="text-align:justify;">You can help us by finding your common health places and leaving comments!</p>
</div>

<div class="col-md-8 col-xs-8">
    <div id="drugstore_info">
  </div>
</div>

<script type="text/javascript">
$(function(){

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {styles: mapStyle}, internal: {id: 'map'}}, function(){

    // set marker infos from gmaps4rails ruby @hash built in controller
    markers_json = <%=raw @hash.to_json %>;
    markers = _.map(markers_json, function(marker_json){
      marker = handler.addMarker(marker_json);
      _.extend(marker, marker_json);
      return marker;
    });

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

    // Add event listener on marker click
    for (var i = 0; i <  markers.length; ++i) {
      var marker = markers[i];
      google.maps.event.addListener(marker.serviceObject, 'click', onMarkerClick(marker));
    }

    function onMarkerClick(marker, event){
      return function(event){
        // On marker click, make AJAX request on "flats#show"
        $.get("/drugstores/" + marker.id);
      }
    }

  });

})
</script>