<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'drugstores.name' %></strong>
  <%= @drugstore.name %>
</p>

<p>
  <strong><%= t 'drugstores.address' %></strong>
  <%= @drugstore.address %>
</p>

<p>
  <strong><%= t 'drugstores.phone' %></strong>
  <%= @drugstore.phone %>
</p>

<p>
  <strong><%= t 'drugstores.description' %></strong>
  <%= @drugstore.description %>
</p>

<div class="row">
  <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;msa=0&amp;msid=101686375028251599401.0004484f73bea6145ef6b&amp;ll=<%=@drugstore.latitude%>,<%=@drugstore.longitude%>&amp;spn=0,0&amp;output=embed&amp;s=AARTsJqhzeyiqiLGEqDCDC7ar_q7Q1nmAw"></iframe>
</div>

<%= link_to t 'form.back', drugstores_path %>

<strong><%= t 'drugstores.nearbys' %></strong>
<ul>
<% for drugstore in @drugstore.nearbys(3) %>
  <li><%= link_to drugstore.address, drugstore %> (<%= drugstore.distance.round(2) %> miles)</li>
  <% end %>
</ul>