<%= form_for DrugstoreComment.new do |f| %>
  <% if @drugstore_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drugstore_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @drugstore_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :"drugstore_comment[drugstore_id]", params[:drugstore_id] %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_field :review %>
  </div>

  <div class="actions">
	<button type="submit" class="btn btn-bobodoc" >
      <%= t('drugstores.comment') %>
    </button>
<% end %>