<h1><%= t 'index.title' %></h1>
<div class="row-fluid">
<%= form_tag find_medicament_path, :method => :get do %>
    <div class="col-md-5 col-xs-5">
      <!-- params[:search] permet d'afficher après reload la recherche précédente dans le champ -->
      <%= text_field_tag :search, params[:search],:placeholder => "What is your medicament?", :style => "width:100%;"%>
    </div>
   <!--  <div class="col-md-5 col-xs-5">
      <%= text_field_tag :search, params[:search],:placeholder => "How much did you pay for it?", :style => "width:100%;" %>
    </div> -->
    <div class="col-md-2 col-xs-2">
      <button type="submit" class="btn btn-primary" >
      <%= t('drugstores.search_near') %>
<!--        :name => nil
 -->    </button>
    </div>
<% end %>
</div>