<%= form_for MedicamentComment.new do |f| %>
  <% if @medicament_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicament_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @medicament_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :"medicament_comment[medicament_id]", params[:medicament_id] %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_field :review %>
  </div>

  <div class="actions">
	<button type="submit" class="btn btn-bobodoc-kuler-2" >
      <%= t('medicaments.comment') %>
    </button>
<% end %>