<h1>Listing medicaments</h1>

<table class="table table-hover">
  <thead class="table-header">
    <tr>
      <th>Nom</th>
      <th>Prix moyen</th>
      <th>Prix le + bas</th>
      <th>Prix le + haut</th>
      <th>Voir</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicaments.each do |medicament| %>
      <tr>
        <td><%= medicament.name %></td>
        <td><%= medicament.average_price %></td>
        <td><%= medicament.cheapest %></td>
        <td><%= medicament.highest %></td>
        <td><%= link_to 'Voir', medicament %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>