<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="col-md-8 col-xs-8">
    <p>
      <strong>Nom:</strong>
      <%= @medicament.name %>
    </p>

    <p>
      <strong>Average price:</strong>
      <%= @medicament.average_price %>
    </p>

    <p>
      <strong>Forme:</strong>
      <%= @medicament.form %>
    </p>

    <p>
      <strong>Composition:</strong>
      <%= @medicament.composition %>
    </p>

    <p>
      <strong>Indication:</strong>
      <%= @medicament.indication %>
    </p>

    <p>
      <strong>Dose:</strong>
      <%= @medicament.dose %>
    </p>

    <p>
      <strong>Contraindication:</strong>
      <%= @medicament.contraindication %>
    </p>

    <button type="submit" class="btn btn-primary" >
      <%= t('medicaments.add_reference') %>
    </button>  </div>

  <div class="col-md-4 col-xs-4">
    <p>Ce médicament est disponible dans les pharmacies suivantes:</p>
    <% for drugstore in @medicament.drugstores %>
      <li><%= link_to drugstore.address, drugstore %>
        au prix de <%= Stock.find_by(drugstore_id: drugstore.id, medicament_id: @medicament.id).price %> €</li>

    <% end %>
  </div>
</div>